annotated-types==0.8.0
anyio==4.15.1
click==8.5.0
fastapi==0.116.1
h11==0.16.0
httptools==0.8.0
idna==3.19
pip==25.1.1
pydantic==2.13.5
pydantic_core==2.46.5
python-dotenv==1.2.3
PyYAML==6.0.3
starlette==0.47.3
typing-inspection==0.4.4
typing_extensions==4.16.0
uvicorn==0.35.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.1
